.acompanhamentos-container {
  padding: 15px;
}

.acompanhamento-item {
  list-style-type: none;
  margin-bottom: 10px;
  border: thin solid slategray;
  border-radius: 5px;
  width: 30%;
  background-color: #ffc02a;
  font-size: 20px;
}

.acompanhamento-quantity {
  margin-right: 10px;
}

.acompanhamento-button {
  color: #fff;
  border: none;
  padding: 5px 10px;
  margin-left: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.acompanhamento-button:hover {
  background-color: #005262;
}

input {
  width: 3rem;
}
