<div class="container mt-4">
  <h2 class="mb-4">Meus Dados</h2>
  <div class="card">
    <div class="card-body">
      <p class="mb-2">Cpf: {{cliente.cpf}}</p>
      <p class="mb-2">Nome: {{cliente.nome}}</p>
      <p class="mb-2">Telefone: {{cliente.telefone}}</p>
      <p class="mb-2">Data de Nascimento: {{cliente.dataAniversario | date : "dd/MM/yyyy"}}</p>
    </div>
  </div>

  <h3 class="mt-4 mb-4">Endereço</h3>
  <div class="card">
    <div class="card-body">
      <p class="mb-2">CEP: {{cliente.endereco.cep}}</p>
      <p class="mb-2">{{cliente.endereco.rua}} N° {{cliente.endereco.numero}}</p>
      <p class="mb-2">Bairro: {{cliente.endereco.regiao.nome}}</p>
      <!-- Mostra o complemento do endereco caso exista -->
      <p *ngIf="cliente.endereco.complemento" class="mb-2">Complemento: {{cliente.endereco.complemento}}</p>
    </div>
  </div>
</div>
