<h1>Pizzaria Angular</h1>
<p>Cliente atual: {{cliente.nome}}</p>

<table>
  <tr>
    <td><button routerLink="/home/clientes">Clientes</button></td>
    <td><button routerLink="/home/acompanhamentos">Acompanhamentos</button></td>
    <td><button routerLink="/home/sabores">Pizzas</button></td>
    <td>
        <button routerLink="/home/carrinho">Carrinho
          <span *ngIf="quantidadeItensCarrinho.value > 0" class="d-inline">
            ({{quantidadeItensCarrinho.value}})
          </span>
        </button>
    </td>
    <td><button (click)="deslogar()">SAIR</button></td>
  </tr>
</table>

<hr>

<router-outlet></router-outlet>
