<label>Tamanho: </label>

<select [(ngModel)]="tamanho">
  <option [ngValue]="null" disabled>Selecione um tamanho</option>
  <option *ngFor="let tamanho of tamanhos" [ngValue]="tamanho">{{tamanho.nome}}</option>
</select>

<div *ngIf="tamanho.qntdFatias > 0">
  <p [(ngModel)]="tamanho" ngDefaultControl>Fatias:{{tamanho.qntdFatias}} | Sabores: {{tamanho.maxSabores}}</p>

  <div *ngFor="let sabor of sabores">
    <input type="checkbox" [value]="sabor" (change)="adicionarSabor(sabor)" >{{sabor.nome}} | Preço: R${{sabor.preco}}
  </div>

  <button (click)="adicionarAoCarrinho()">Adicionar</button>
</div>
