<div class="container">
  <div class="flex-parent">
    <!-- Cardapio -->
      <div class="flex-child">
        <h2>Cardápio</h2>

        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Sabor</th>
              <th scope="col">Preço</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tr *ngFor="let sabor of sabores">
            <td class="font-weight-bold">{{sabor.nome}}</td>
            <td class="font-weight-bold">
              {{sabor.preco * pizza.tamanho.multiplicadorPreco | currency : "BRL"}}
            </td>
            <td>
              <button (click)="adicionarSabor(sabor)" class="btn btn-primary">+</button>
            </td>
          </tr>
        </table>
      </div>

    <!-- Monte sua Pizza -->
      <div class="flex-child">
        <h2>Monte sua pizza</h2>
        <label>Tamanho: </label>

        <select (change)="mudarTamanho(tamanhoSelecionado.value)" #tamanhoSelecionado>
          <option *ngFor="let tamanho of tamanhos">{{tamanho.nome}}</option>
        </select>

        <p *ngIf="pizza.tamanho.maxSabores > 0" ngDefaultControl>
          {{pizza.tamanho.qntdFatias}} fatias
        </p>

        <label>Quantidade de Sabores:</label>
        <select #quantidadeSabores (change)="mudarQuantidadeSabores(quantidadeSabores.value)">
          <option *ngFor="let qntd of maxQntdSabores">{{qntd}}</option>
        </select>

        <!-- Pedido -->
        <h3>Seu Pedido</h3>

        <p>Pizza {{pizza.tamanho.nome}}</p>
        <div *ngFor="let p of pizza.sabores; let i = index">
          <p>{{p.nome}} <button (click)="removerSabor(i)" class="btn btn-danger">X</button> </p>
        </div>

        <label for="qntd" >Quantidade:</label>
        <input type="number" style="width: 40px" id="qntd" value="1"
               #quantidade (change)="mudarQuantidadePizzas(quantidade.valueAsNumber)">

        <p>Preço: {{pizza.preco | currency : "BRL"}}</p>

        <button (click)="adicionarAoCarrinho()" class="btn btn-success">Adicionar Pizza Ao Carrinho</button>
      </div>

  </div>
</div>
