<h2 *ngIf="itensCarrinho.length == 0; else items">Carrinho vazio</h2>

<ng-template #items>
  <ul *ngFor="let item of itensCarrinho;let i = index;">
    <li>
      {{item.getDescricao()}} | Quantidade: {{item.getQuantidade()}} | Total: {{item.getPreco() | currency : "BRL"}}
      <button (click)="removerDoCarrinho(i)">Remover</button>
    </li>
  </ul>

  <p [(ngModel)]="pedidoFinal" ngDefaultControl>Total do Pedido: {{pedidoFinal.precoTotal | currency : "BRL" || 0}}</p>

  <button (click)="finalizarPedido()">Finalizar Pedido</button>
</ng-template>
