<h2>Meus Dados</h2>
  <p>Cpf: {{cliente.cpf}} </p>
  <p>Nome: {{cliente.nome}}</p>
  <p>Telefone: {{cliente.telefone}}</p>
  <p>Data de Nascimento: {{cliente.dataAniversario | date : "dd/MM/yyyy"}}</p>
  
<h3>Endereço</h3>
  <p>CEP: {{cliente.endereco.cep}}</p>
  <p>{{cliente.endereco.rua}} N° {{cliente.endereco.numero}}</p>
  <p>Bairro: {{cliente.endereco.regiao.nome}}</p>
  <!-- Mostra o complemento do endereco caso exista -->
  <p *ngIf="cliente.endereco.complemento"> Complemento: {{cliente.endereco.complemento}}</p>

<h2>Meus Pedidos</h2>
  <ul *ngFor="let pedido of pedidos" class="list-group ">
    <li class="list-group-item">
      <label> Pedido {{pedido.id}} </label>

      <ul>
        <li *ngFor="let pizza of pedido.pizzas" > 
            {{getDescricaoPizza(pizza)}} | Quantidade: {{pizza.quantidade}} | Preço: {{pizza.preco | currency : "BRL"}}
        </li>
      </ul>

      <ul *ngIf="pedido.acompanhamentos.length > 0" >
        <li *ngFor="let acomp of pedido.acompanhamentos">
              {{getDescricaoAcompanhamento(acomp)}} | Quantidade: {{acomp.quantidade}} | Preço: {{acomp.preco | currency : "BRL"}}
        </li>
      </ul>
      
      <p> Data: {{pedido.horaPedido | date : "dd/MM/yyyy HH:mm"}}</p>
      <p> Total do Pedido: R${{pedido.precoTotal | currency : "BRL"}}</p>

    </li>
  </ul>

